# Archivos generados por el compilador y el enlazador
*.o
*.out
*.exe

# Archivos binarios generados
bin/
build/

# Dependencias y directorios generados por CMake
CMakeFiles/
CMakeCache.txt
CMakeScripts/
CMakeScripts/
CMakeDoxyfile.in
cmake_install.cmake

# Archivos de construcción de Make
Makefile

# Archivos generados por IDEs comunes
.vscode/
.idea/
.cproject
.project
*.suo
*.user
*.sdf

# Archivos de respaldo y archivos temporales generados por el editor
*~
*.swp
*.swo
*.bak
*.orig

# Archivos de compilación de Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Carpeta de compilación de Xcode
*.xcodeproj/
xcuserdata/

# Ejecutables generados por CMake
install_manifest.txt

# Bibliotecas de sistema y archivos de configuración específicos
/bin/
/build/
/lib/
/include/
/bin/
/etc/
/usr/
/libexec/
/sbin/
/sys/
/tmp/
/var/


# carpeta de compilados
output/
.vscode/*
.vscode/settings.json
# Extras
RTree/
RTreeTemplate/
RTreeTemplate

experimento/generador_archivos

experimento/R_for_n_2_10

experimento/R_for_n_2_11

experimento/R_for_n_2_12

experimento/R_for_n_2_13

experimento/R_for_n_2_14

experimento/R_for_n_2_15

experimento/R_for_n_2_16

experimento/R_for_n_2_17

experimento/R_for_n_2_18

experimento/R_for_n_2_19

experimento/R_for_n_2_20

experimento/R_for_n_2_21

experimento/R_for_n_2_22

Hilbert/HilbertRTree_test

Hilbert/HilbertRTree.bin

Nearest-X/generatorTests

Sort-Tile-Recursive/stRTest

experimento/R_for_n_2_23

experimento/R_for_n_2_24

experimento/R_for_n_2_25

experimento/prueba

experimento/Q_for_n_2_20

experimento/Q_for_n_2_21

experimento/Q_for_n_2_22

experimento/Q_for_n_2_23

experimento/Q_for_n_2_24

experimento/Q_for_n_2_25
